@model Vidly2.Models.User
@{
    Layout = null;
   
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Log In</title>
    <style>
        #login-div {
            position: absolute;
            left: 40%;
            top: 85%;
            border: 3px solid #000000;
            padding: 10px 10px;
            background-color: #808080;
        }
        .field-validation-error {
        color: red
        }

        .hero-image {
            background-image: url("/images/cmc_logo.png");
            background-color: #ffffff;
            height: 500px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: auto;
            position: relative;
        }
    </style>
</head>
<body>
    <div class="hero-image">
        <div id="login-div">
            @using (Html.BeginForm("Autherize", "Login", FormMethod.Post))
            {
                <table>
                    <tr>
                        <td></td>
                        <td style="text-decoration:wavy">CMC Log In</td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.Email)
                        </td>
                        <td>
                            @Html.EditorFor(model => model.Email)
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            @Html.ValidationMessageFor(model => model.Email)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.Password)
                        </td>
                        <td>
                            @Html.EditorFor(model => model.Password)
                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td colspan="2">
                            <label class="field-validation-error">@Html.DisplayFor(model => model.LoginErrorMessage)</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td>
                            @Html.ValidationMessageFor(model => model.Password)
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type="submit" name="name" value="Login" />
                            <input type="reset" name="name" value="Clear" />
                        </td>
                    </tr>
                </table>
            }
        </div>
    </div>
        <script src="~/Scripts/jquery-3.0.0.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

</body>
</html>
